.wrapper{
    display: grid;
    grid-template-rows: 100px 80px auto 50px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    display: grid;
    position: fixed;
}

h1{
    text-align: center;
    font-size: 40px;
}

ul{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    width: 1840px;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.li1,.li3{
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
}

.li2{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 10px;
    border-radius: 15px;
}

header{
    grid-area: header;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
    text-align: center;
}

footer{
    grid-area: footer;
}

.bonga{
    text-align: center;
}

a{
    text-decoration: none;
    color: blue;
}

a:link{
    color: black;
}

a:visited{
    color: blue;
}

a:focus{
    color: purple;
}

a:hover{
    color: purple;
}

a:active{
    color: green;
}

body{
    background-color: white;
}
