body{
background-color: lightgreen;

}

p{
color: black;

}


h1{
    text-align: center;
font-size: 22px;
font-family: arial;
}

p{
    text-align: center;
}

.altP{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: right;
}

.altX{
    text-align: right;
}

 a{
    text-decoration: none;
 }

 .border{
    border: 2px solid black;
    width: 650px;
    margin: 0 auto;
    padding: 8px;
 }
