body{
background-color: rgb(224, 114, 114);

}

p{
color: lightblue;

}


h1{
    text-align: center;
}

p{
    text-align: center;
}

.altP{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}