table, th, td{
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 150px;
    margin: auto;
    table-layout: fixed;
    width: 1000px;
}

tr:nth-child(2){
    background-color:blue;
}

tr:nth-child(3){
    background-color: red;
}

tr:nth-child(5){
    background-color: rgb(31, 247, 31);
}

tr:nth-child(4){
    background-color: yellow;
}
.bimbo{
    background-color: black;
}