.wrapper{
    display: grid;
    grid-template-rows: 100px auto auto 70px;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

.upper-border{
    border: solid black 2px;
    margin: 100px;
    position: absolute;
    translate: translateX(-50%);
    left: 15%;
    width: 1100px;
    text-align: center;
    padding: 10px;
}

.down-border{
    border: solid black 2px;
    top: 90px;
    margin: 100px;
    position: absolute;
    translate: translateX(-50%);
    left: 15%;
    width: 1100px;
    padding: 10px;

}


.left, .right, .middle {
    display: inline-block;
    width: calc(33.33% - 10px);
    text-size-adjust: 10px;
    font-size:20px;
}

.right{
    font-size: 30px;
    font-weight: bold;
}

.left, .middle {
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

a:link{
    color: purple;
}

a:visited{
    color: black;
}

a:focus{
    color: red;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

.container {
    display: flex;
    margin-bottom: 10px;
}


.middle {
    width: calc(33.33% - 10px);
}

.container2 {
    display: flex;
    justify-content: center;
}

.text {
    font-size: 18px;
}

p{
    line-height: 1;
}

.item{
    justify-content: center;
    margin: 6px;
}

img {
    width: 350px;
    max-width: 100%;
    margin-right: 10px ;
    height: 200px;
    border: solid black 2px;
}

.text1 {
    text-align: center;
}

.text2{
    font-size: 18px;
    margin-top: -20px;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.row img {
    margin: 5px;
}

.audio1{
    text-align: right;
}

fieldset{
    border-radius: 10px;
    width: 25%;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    margin-bottom: 10px;
}

textarea{
    resize: none;
}

label{
    display: inline-block;
    text-align: right;
    width: 120px;
}

input[type="date"]{
    display: inline-block;
    width: 172px;
}

input[name="skicka"]{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

label[for="jätte bra"]{
    text-align: left;
}

label[for="okej"]{
    text-align: left;
}

label[for="inte bra"]{
    text-align: left;
}

strong{
    text-align: left;
}

h1{
    text-align: center;
    font-size: 50px;
}

.Tack{
    font-size: 20px;
}