.wrapper { /* Styling för behållaren som omsluter allt innehåll */
grid-template-rows :20px 60px auto 60px; /* Definierar rader i grid-layouten */
grid-template-areas : "header" "nav" "main" "footer"; /* Definierar områden för grid-layouten */
height : 50vw; /* Sätter höjden på behållaren till 100% av vyhöjden */
max-height: 50vw;
width: 100vw;


display : grid; /* Använder grid-layout för att organisera innehållet */
}

header{/*En style till top delen av websidan*/
    grid-area: header;/*Detta definierar vart den griden ligger i layouten*/
    border: solid black 2px;
    border-radius: 15px;
    width: 35vw;/*Hur bred griden är*/
    background-color : lightgray;/*Bakgrundfärgen till griden*/
    position: relative;
    margin:auto auto;
    height: 40px;
    top: 80px;
}

nav {
    grid-area: nav;
    width: fit-content;
    top: 100px;
    margin: auto auto;
    position: relative;
}

ul{
    margin: 0;
}

main{
    grid-area: main;
    position: relative;
}

footer{/*En style till top delen av websidan*/
    grid-area: footer;/*Detta definierar vart den griden ligger i layouten*/
    border: solid black 2px;
    border-radius: 15px;
    width : 75vw;
    max-width: 1100px;
    background-color : lightgray;/*Bakgrundfärgen till griden*/
    position: relative;
    margin: auto auto;
    height: 40px;
    bottom: 1vh;
}

.footerSida3{ /*Är en färg jag gav till footern*/
    background-color : rgb(130, 123, 167);
}

.footerSida4{
    background-color : #D2B48C;
}

.upper-border { /* Gemensamma stilar för den övre navigationsmenyn */
border : black solid 2px; /* Svart border */
border-radius : 15px; /* Avrundade hörn */
position : relative; /* Absolut positionering */
max-height: 100%;
width : 75vw;
top: 0vw;
max-width: 1100px;
text-align : center; /* Centrerad text */
padding : 10px; /* Utfyllnad */
background-color : lightgray; /* Bakgrundsfärg */
}

.upper-borderColor { /* Specifika stilar för navigationsmenyn med olika bakgrundsfärger */
    border : black solid 2px; /* Svart border */
    border-radius : 15px; /* Avrundade hörn */
    position : relative; /* Absolut positionering */
    max-height: 100%;
    width : 75vw;
    max-width: 1100px;
    text-align : center; /* Centrerad text */
    padding : 10px; /* Utfyllnad */
    background-color : lightgray; /* Bakgrundsfärg */
background-color : rgb(130, 123, 167); /* Anpassad bakgrundsfärg */
} 

.upper-borderColor2 {
    border : black solid 2px; /* Svart border */
    border-radius : 15px; /* Avrundade hörn */
    position : relative; /* Absolut positionering */
    max-height: 100%;
    width : 75vw;
    max-width: 1100px;
    text-align : center; /* Centrerad text */
    padding : 10px; /* Utfyllnad */
    background-color : lightgray; /* Bakgrundsfärg */
background-color : #D2B48C;
}

.down-border2 {
border : black solid 2px;
border-radius : 15px;
height : 30vw;
min-height: 220px;
position : relative;
margin: auto auto;
width : 75vw;
max-width: 1100px;
text-align : center;
padding : 10px;
margin-top: 7rem;
margin-bottom: 3rem;
top: 1vw;
background-color : lightgray;
}

.down-border3 {
    border : black solid 2px;
    border-radius : 15px;
    height: fit-content;
    position : relative;
    margin: auto auto;
    width : 75vw;
    max-width: 1100px;
    text-align : center;
    padding : 10px;
    margin-top: 7rem;
    margin-bottom: 3rem;
    top: 1vw;
    background-color : lightgray;
    }

.down-border2Color {
    border: black solid 2px;
    border-radius: 15px;
    grid-template-columns: auto auto;
    display: grid;
    position: relative;
    margin: auto;
    width: 75vw;
    max-width: 1100px;
    text-align: center;
    padding: 10px;
    margin-top: 7rem;
    margin-bottom: 3rem;
    top: 1vw;
background-color : rgb(130, 123, 167);
}

.down-border2Color2 {
    border: black solid 2px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    position: relative;
    margin: auto;
    height: auto;
    width: 75vw;
    max-width: 1100px;
    text-align: center;
    padding: 10px;
    margin-top: 7rem;
    margin-bottom: 3rem;
    top: 1vw;
background-color : #D2B48C;
}

.down-border3Color3 {
    border: black solid 2px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; /* Två rader med automatisk höjd */
    position: relative;
    margin: auto;
    width: 75vw; /* Anpassa bredden till förälderelementets bredd */
    max-width: 1100px;
    text-align: center;
    padding: 10px;
    margin-top: 7rem;
    margin-bottom: 3rem;
    top: 1vw;
    background-color: #D2B48C;
  }

section { /* Stilar för sektionselementet */
border : black solid 1px; /* Gemensamma stilar för sektioner */
border-radius : 15px;
width : 1050px;
margin : 20px;
display : flex;
background-color : gray;
}

article { 
border : black solid 1px;
border-radius : 15px;
width : 340px;
}

figure {
border : black solid 1px;
width : 340px;
border-radius : 15px;
margin : 20px;
background-color : gray;
}


.ColorBody {
background-color : #20203d;
}

.ColorBody2 {
background-color : #8b4513;
}

.ColorBody3 {
    background-color: white;
}

.art1
{
    background-color:  #FF7F50;
    padding: 10px;
    min-width: 19vw;
    max-width: 100%;
    box-sizing: border-box;
}

.art2 {
    background-color: #FF7F50;
    padding: 10px;
    width: 90%; /* Ta upp 90% av förälderelementets bredd */
    margin: 10px auto; /* Centrera elementet med 10px marginal runtom */
    box-sizing: border-box;
}

.sida2 {
border : black solid 1px;
border-radius : 15px;
width : 1120px;
margin : 20px;
top : 200px;
position : relative;
left : 19%;
display : flex;
}


.TelefonArt1{
    height: fit-content;
    width: 19vw;
    max-width: 100%;
    background-color: #5d6292;
    padding: 10px;
    box-sizing: border-box;
}

.TelefonArt2 {
    width: 30vw;
    height: fit-content;
    background-color: #5d6292;
    padding: 10px;
}

.TelefonArt3 {
    width: 30vw;
    height: fit-content;
    background-color: #5d6292;
    padding: 10px;
background-color : #5d6292;
}

img { /* Generella stilar för bilder */
max-width : 100%; /* Gemensamma bildstilar */
width : 400px;
height: 30vw;
max-height: 10vw;
margin-right : 20px;
height : auto;
border-radius : 15px;
border : black solid 1px;
position: relative;

}

h1,h2,h3,h4,h5{ /* Stilar för rubriker */
    font-size: 17px;
    text-align: center;
    margin: 0;
}

.solbild { /* Specifika stilar för solpanel bilder */
width : 316px;
margin-bottom: 10px;
max-width : 100%;
position : relative;
height : 190px;
left : 3%;
top : 10px;
}

video { /* Stilar för videospelare */
width : 340px; /* Videospelarstilar */
max-width: 100%;
height : 30vw;
max-height: 10vw;
border : black solid 1px;
border-radius : 15px;
}

audio{
    width : 340px; /* Videospelarstilar */
    max-width: 100%;
    max-height: 10vw;
}

body { /* Generella stilar för hela sidan */
background-color : #444444;
}

.bilkör { /* Specifika stilar för en bild av en bil */
height : 230px;
top : -36px;
}

.left, .right, .middle { /* Stilar för navigationsmenyflikar */
display : inline-block;
width : calc(33.33% - 10px);
font-size : 20px;
}

.right { /* Specifika stilar för vissa navigationsmenyflikar */
font-size : 30px;
font-weight : bold;
}

.left, .middle {
font-weight : bold;
}

a { /* Länkstilar */
text-decoration : none;
color : black;
}

a:link { /* Pseudoklassstilar för länkar */
color : purple;  /* Generella länkstilar */
}

a:visited {
color : black; /* Stilar för länkar som inte har besökts */
}

a:focus {
color : red; /* Stilar för länkar som har besökts */
}

a:hover {
color : red; /* Stilar för länkar när muspekaren sveper över dem */
}

a:active { 
color : green;  /* Stilar för länkar när de är aktiva */
}


.middle {
width : calc(33.33% - 10px);
}

p {
line-height : 2;
font-family : 'Times New Roman';
}

.fanta{
    position: relative;
    bottom: -190px;
}

.DatorBild {
border : none;
}

.framsidaBild { /* Stilar för bilder på startsidan */
height : 170px;
}

.sida1-text{
    display : flex;
justify-content : space-around;
border : black solid 2px;
border-radius : 15px;
position : relative;
margin: auto auto;
width : 80%;
height: calc(fit-content + 50px);
max-width: 1100px;
text-align : center;
padding : 10px;
top : 0.1vw;
}

.sida2-text{
    display : flex;
justify-content : space-around;
border : black solid 2px;
border-radius : 15px;
position : relative;
margin: auto auto;
margin-bottom: 10px;
width : 80%;
height: calc(fit-content + 50px);
max-width: 1100px;
text-align : center;
padding : 10px;
top : 0.5vw;
}

.row1 { /* Stilar för vissa rader med bilder */
display : flex;
flex-direction : row;
justify-content : space-around;
margin-bottom : 20px;
border : black solid 2px;
border-radius : 15px;
position : relative;
margin: auto auto;
width : 80%;
height: 20vw;
max-height: 10vw;
min-height: 70px;
max-width: 1100px;
text-align : center;
padding : 10px;
top : 1vw;
background-color : gray;
}

.row2 { /* Stilar för vissa rader med bilder */
display : flex;
flex-direction : row;
justify-content : space-around;
margin-bottom : 20px;
border : black solid 2px;
position : relative;
top : 4vw;
max-height: 100%;
margin: auto auto;
width : 80%;
height: 30vw;
max-height: 10vw;
min-height: 70px;
max-width: 1100px;
text-align : center;
padding : 10px;
background-color : gray;
}

fieldset { /* Stilar för fältuppsättningar */
    border-radius: 10px;
    width: 30%; /* Anpassa bredden till förälderelementet */
    margin: 0 auto 10px auto; /* Centrera och lägg till marginal nedåt */
}

textarea { /* Stilar för textrutor */
    resize: none;
    width: 100%; /* Fyll förälderelementets bredd */
}

label { /* Stilar för etiketter */
    display: block; /* Använd blockdisplay för att undvika vertikal instabilitet */
    text-align: left; /* Justera text till vänster */
    width: 100%; /* Fyll förälderelementets bredd */
    margin-bottom: 5px; /* Lägg till marginal nedåt */
}

input[type="date"] {
    width: 100%; /* Fyll förälderelementets bredd */
}

input[name="skicka"] {
    display: block; /* Visa som block för att centrera */
    margin: 0 auto; /* Centrera */
}

label[for="jätte bra"] {
text-align : left;
}

label[for="okej"] {
text-align : left;
}

label[for="inte bra"] {
text-align : left;
}

strong { /* Stilar för starkt markerad text */
text-align : left;
}

.Tack { /* Specifika stilar för en tackmeddelande */
font-size : 20px;
}

table, th, td { /* Stilar för tabeller och dess celler */
border : black solid 1px;
border-collapse : collapse;
padding : 8px;
margin : auto;
table-layout : fixed;
}

tr:nth-child(1) { /* Specifika stilar för tabellrader */
background-color : #D2B48C; /* Stilar för vissa tabellrader */
}

tr:nth-child(2), tr:nth-child(4), tr:nth-child(6) {
background-color : #8B4513;
}

tr:nth-child(3), tr:nth-child(5) {
background-color : #D2B48C;
}

td:nth-child(1), th:nth-child(1) {
text-align : left;
}

td:nth-child(2), th:nth-child(4) {
text-align : right;
}

.down-border3Color3 > :nth-child(n+3) {
    grid-column: span 2;
  }

/* Media query för skärmar som är max 768px breda */
@media (max-width: 768px) {
    .left, .right, .middle {
        font-size: 2rem;/
    }

    .left, .right, .middle {
        font-size: 1rem;
    }
}

/* Media query för skärmar som är max 480px breda */
@media (max-width: 480px) {
    .left, .right, .middle {
        font-size: 1.5rem;
    }

    .left, .right, .middle {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .down-border2Color {
        flex-direction: column; /* Ändra till en kolumn på mindre skärmar */
        align-items: center; /* Centrera elementen vertikalt */
    }
}

@media (max-width: 480px) {
    .down-border2Color {
        flex-direction: column; /* Ändra till en kolumn på mindre skärmar */
        align-items: center; /* Centrera elementen vertikalt */
    }

}

@media (max-width: 1400px) {
    .down-border2Color2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .down-border2Color2 {
        grid-template-columns: 1fr;
    }
}

/* Media query för att ändra layouten vid 480px */
@media (max-width: 480px) {
    .down-border2Color2,.down-border3Color3 {
        grid-template-columns: 1fr; /* En kolumn vid 480px */
    }
}

@media screen and (max-width: 768px) {
    .down-border3Color3 {
      grid-template-columns: 1fr; /* Ändra till en kolumn för mindre skärmar */
      grid-template-rows: auto auto auto; /* Tre rader med automatisk höjd */
    }
  }

@media screen and (max-width: 768px) {
    .down-border3Color3 {
        width: 90vw; /* Justera bredden för mindre skärmar */
    }
}