.wrapper { /* Styling för behållaren som omsluter allt innehåll */
grid-template-rows :20px 50px auto 50px; /* Definierar rader i grid-layouten */
grid-template-areas : "header" "nav" "main" "footer"; /* Definierar områden för grid-layouten */
height : 100vh; /* Sätter höjden på behållaren till 100% av vyhöjden */
display : grid; /* Använder grid-layout för att organisera innehållet */
}

header{/*En style till top delen av websidan*/
    grid-area: header;/*Detta definierar vart den griden ligger i layouten*/
    border: solid black 2px;
    border-radius: 15px;
    width: 550px;/*Hur bred griden är*/
    background-color : lightgray;/*Bakgrundfärgen till griden*/
    position: relative;
    left: 35%;
    height: 40px;
    top: 80px;
}

footer{/*En style till top delen av websidan*/
    grid-area: footer;/*Detta definierar vart den griden ligger i layouten*/
    border: solid black 2px;
    border-radius: 15px;
    width: 1100px;/*Hur bred griden är*/
    background-color : lightgray;/*Bakgrundfärgen till griden*/
    position: relative;
    left: 20.5%;
    height: 40px;
    top: 1px;
}

.footerSida2{ /* Ger bara en position där jag vill att footern ska vara.*/
    position: relative;
    top: 848px;
}

.footerSida3{ /*Är en färg jag gav till footern*/
    background-color : rgb(130, 123, 167);
}

.footerSida4{
    background-color : #D2B48C;
}

.upper-border { /* Gemensamma stilar för den övre navigationsmenyn */
border : black solid 2px; /* Svart border */
border-radius : 15px; /* Avrundade hörn */
margin : 100px; /* Mellanrum runt om */
position : absolute; /* Absolut positionering */
left : 15%; /* Avstånd från vänster sida */
width : 1100px; /* Bredd */
text-align : center; /* Centrerad text */
padding : 10px; /* Utfyllnad */
background-color : lightgray; /* Bakgrundsfärg */
}

.upper-borderColor { /* Specifika stilar för navigationsmenyn med olika bakgrundsfärger */
border : black solid 2px;
border-radius : 15px;
margin : 100px;
position : absolute;
left : 15%;
width : 1100px;
text-align : center;
padding : 10px;
background-color : rgb(130, 123, 167); /* Anpassad bakgrundsfärg */
} 

.upper-borderColor2 {
border : black solid 2px;
border-radius : 15px;
margin : 100px;
position : absolute;
left : 15%;
width : 1100px;
text-align : center;
padding : 10px;
background-color : #D2B48C;
}

.upper-border1 {
    border : black solid 2px; /* Svart border */
    border-radius : 15px; /* Avrundade hörn */
    margin : 100px; /* Mellanrum runt om */
    position : absolute; /* Absolut positionering */
    left : 15%; /* Avstånd från vänster sida */
    width : 1100px; /* Bredd */
    text-align : center; /* Centrerad text */
    top:28px;
    padding : 10px; /* Utfyllnad */
    background-color : lightgray; /* Bakgrundsfärg */
}
    

.down-border1 {
border : black solid 2px;
border-radius : 15px;
margin : 100px;
top : 110px;
position : absolute;
left : 15%;
width : 1100px;
text-align : center;
padding : 10px;
background-color : lightgray;
}

.down-border2 {
border : black solid 2px;
border-radius : 15px;
margin : 100px;
top : 100px;
height : 500px;
position : absolute;
left : 15%;
width : 1100px;
text-align : center;
padding : 10px;
background-color : lightgray;
}

.down-border2Color {
border : black solid 2px;
border-radius : 15px;
margin : 100px;
top : 100px;
height : 500px;
position : absolute;
left : 15%;
width : 1100px;
text-align : center;
padding : 10px;
background-color : rgb(130, 123, 167);
}

.down-border2Color2 {
border : black solid 2px;
border-radius : 15px;
margin : 100px;
top : 100px;
height : 520px;
position : absolute;
left : 15%;
width : 1100px;
text-align : center;
padding : 10px;
background-color : #D2B48C;
}

.down-border3 {
border : black solid 2px;
border-radius : 15px;
margin : 100px;
top : 100px;
height : 530px;
position : absolute;
left : 15%;
width : 1100px;
text-align : center;
padding : 10px;
}

.down-border3Color {
border : black solid 2px;
border-radius : 15px;
margin : 100px;
top : 100px;
height : 530px;
position : absolute;
left : 15%;
width : 1100px;
text-align : center;
padding : 10px;
background-color : rgb(130, 123, 167);
}

section { /* Stilar för sektionselementet */
border : black solid 1px; /* Gemensamma stilar för sektioner */
border-radius : 15px;
width : 1050px;
margin : 20px;
display : flex;
background-color : gray;
}

article { 
border : black solid 1px;
border-radius : 15px;
width : 340px;
}

figure {
border : black solid 1px;
width : 340px;
border-radius : 15px;
margin : 20px;
background-color : gray;
}


.ColorBody {
background-color : #20203d;
}

.ColorBody2 {
background-color : #8b4513;
}

.ColorBody3 {
    background-color: white;
}

.art1 { /* Specifika stilar för olika artiklar */
background-color : #FF7F50;
}

.art2 { /* Stilar för artikel 2 */
position : relative;
left : 32%;
padding : 10px;
top : -515px;
height : 493px;
background-color : #FF7F50;
}

.art3 { /* Stilar för artikel 3 */
position : relative;
left : 66%;
padding : 10px;
top : -1030px;
height : 494px;
background-color : #FF7F50;
}

.art4 {
position : relative;
left : 33%;
padding : 10px;
top : -483px;
height : 471px;
background-color : #FF7F50;
}

.art5 {
position : relative;
width : 400px;
left : 60%;
padding : 15px;
top : -402px;
background-color : #FF7F50;
}

.art6 {
position : relative;
width : 600px;
padding : 10px;
height : 380px;
background-color : #FF7F50;
}

.art7 {
position : relative;
width : 330px;
top : -10px;
padding : 10px;
top : 10px;
background-color : #FF7F50;
}

.art8 {
position : relative;
width : 330px;
left : 67%;
height : 470px;
padding : 10px;
top : -976px;
background-color : #FF7F50;
}

.sida2 {
border : black solid 1px;
border-radius : 15px;
width : 1120px;
margin : 20px;
top : 200px;
position : relative;
left : 19%;
display : flex;
}

.textdator {
position : relative;
width : 600px;
left : -20px;
height : 70px;
padding : 10px;
top : -500px;
background-color : #FF7F50;
text-align: left;
}

.TelefonArt1 {
position : relative;
left : 1%;
padding : 10px;
top: -20px;
background-color : #5d6292;
}

.TelefonArt2 {
position : relative;
width : 600px;
height : 468px;
right : -43%;
padding : 10px;
top : -540px;
background-color : #5d6292;
}

.TelefonArt3 {
position : relative;
width : 600px;
height : 506px;
right : -43%;
padding : 10px;
top : -570px;
background-color : #5d6292;
}

img { /* Generella stilar för bilder */
max-width : 100%; /* Gemensamma bildstilar */
width : 400px;
margin-right : 20px;
height : 190px;
border-radius : 15px;
border : black solid 1px;
position: relative;

}

h1,h2,h3,h4,h5{ /* Stilar för rubriker */
    font-size: 17px;
    text-align: center;
    margin: 0;
}

.solbild { /* Specifika stilar för solpanel bilder */
width : 316px;
margin-bottom: 10px;
max-width : 100%;
position : relative;
height : 190px;
left : 3%;
top : 10px;
}

video { /* Stilar för videospelare */
width : 340px; /* Videospelarstilar */
height : 200px;
border : black solid 1px;
border-radius : 15px;
}

body { /* Generella stilar för hela sidan */
background-color : #444444;
}

.bilkör { /* Specifika stilar för en bild av en bil */
height : 230px;
top : -36px;
}

.left, .right, .middle { /* Stilar för navigationsmenyflikar */
display : inline-block;
width : calc(33.33% - 10px);
font-size : 20px;
}

.right { /* Specifika stilar för vissa navigationsmenyflikar */
font-size : 30px;
font-weight : bold;
}

.left, .middle {
font-weight : bold;
}

a { /* Länkstilar */
text-decoration : none;
color : black;
}

a:link { /* Pseudoklassstilar för länkar */
color : purple;  /* Generella länkstilar */
}

a:visited {
color : black; /* Stilar för länkar som inte har besökts */
}

a:focus {
color : red; /* Stilar för länkar som har besökts */
}

a:hover {
color : red; /* Stilar för länkar när muspekaren sveper över dem */
}

a:active { 
color : green;  /* Stilar för länkar när de är aktiva */
}


.middle {
width : calc(33.33% - 10px);
}

p {
line-height : 2;
font-family : 'Times New Roman';
}

.fanta{
    position: relative;
    bottom: -190px;
}

.DatorBild {
border : none;
}

.framsidaBild { /* Stilar för bilder på startsidan */
height : 170px;
}

.row1 { /* Stilar för vissa rader med bilder */
display : flex;
flex-direction : row;
justify-content : space-around;
margin-bottom : 20px;
border : black solid 2px;
border-radius : 15px;
margin : 100px;
position : absolute;
left : -4.5%;
width : 1000px;
text-align : center;
padding : 10px;
top : -70px;
background-color : gray;
}

.row2 { /* Stilar för vissa rader med bilder */
display : flex;
flex-direction : row;
justify-content : space-around;
margin-bottom : 20px;
border : black solid 2px;
margin : 100px;
position : absolute;
top : 160px;
left : -4.5%;
width : 1000px;
text-align : center;
padding : 10px;
background-color : gray;
}

fieldset { /* Stilar för fältuppsättningar */
border-radius : 10px;
width : 25%;
left : 50%;
position : relative;
transform : translate(-50%);
margin-bottom : 10px;
}

textarea { /* Stilar för textrutor */
resize : none; 
}

label {/* Stilar för etiketter */
display : inline-block;
text-align : right;
width : 120px;
}

input[type="date"] {
display : inline-block;
width : 172px;
}

input[name="skicka"] {
position : relative;
left : 50%;
transform : translate(-50%);
}

label[for="jätte bra"] {
text-align : left;
}

label[for="okej"] {
text-align : left;
}

label[for="inte bra"] {
text-align : left;
}

strong { /* Stilar för starkt markerad text */
text-align : left;
}

.Tack { /* Specifika stilar för en tackmeddelande */
font-size : 20px;
}

table, th, td { /* Stilar för tabeller och dess celler */
border : black solid 1px;
border-collapse : collapse;
padding : 8px;
margin : auto;
table-layout : fixed;
width : 160px;
}

tr:nth-child(1) { /* Specifika stilar för tabellrader */
background-color : #D2B48C; /* Stilar för vissa tabellrader */
}

tr:nth-child(2), tr:nth-child(4), tr:nth-child(6) {
background-color : #8B4513;
}

tr:nth-child(3), tr:nth-child(5) {
background-color : #D2B48C;
}

td:nth-child(1), th:nth-child(1) {
text-align : left;
}

td:nth-child(2), th:nth-child(4) {
text-align : right;
}
