fieldset{
    border-radius: 10px;
    width: 25%;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    margin-bottom: 10px;
}

label{
    display: inline-block;
    text-align: right;
    width: 120px;
}

input[type="date"]{
    display: inline-block;
    width: 172px;
}

input[name="skicka"]{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

strong{
    text-align: left;
}