fieldset{
    width: 25%;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}

label{
    display: inline-block;
    text-align: right;
    width: 120px;
}

input[typ="submit"]{
    margin-left: 134px;
}

strong{
    text-align: left;
}